@use './variables.scss' as *;
@use './common.scss' as *;
@import "bootstrap/scss/bootstrap";

#first-section-Home{
    background-image: url("https://avada.website/marketing-consultant/wp-content/uploads/sites/142/2020/06/marketing-intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .left{
        button{
            background-color: white;
            border: 2px solid black;
            &:hover{
                background-color: rgba(0,0,0,0);
                border: 2px solid white;
            }
        }
    }
    .right{
        position: relative;
        div{
            width: 75%;
            position: absolute;
            figure{
                width: 100px;
                height: 100px;
                overflow: hidden;
                border-radius: 100px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            input{
                &:hover{
                    border-color: $mainColor;
                }
            }
            .number{
                color: $mainColor;
            }
        }
    }
}

#brand-Work-With-Home{
    .col-2{
        img{
            width: 150px;
        }
    }
    .col-1{
        figure{
            width: 70px;
            height: 70px;
            overflow: hidden;
            border-radius: 70px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .shadow-b{
        box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: .100);
    }
    button{
        color: $mainColor;
        background-color:$mainColorOcacity;
        &:hover{
            background-color: $mainColor;
            color: white;
        }
    }
}
.signal{
    border: 2px solid $mainColor;
    color: $mainColor;
}